<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/Css/Components_css/header.css">
</head>
<body>
    <header>
        <p class="Logo">Navbar</p>
        <input type="checkbox" name=" " class="btn" />
        <div class="nav">
            <ol>
                <li><a href="home.html">Home</a></li>
                <li><a href="Regarding us.html">Regarding Us</a></li>
                <li><a href="Notifications.html">Notifications</a></li>
                <li><a href="Admit card.html">Admit Card</a></li>
                <li><a href="Update Details.html">Update Details</a></li>
                <li><a href="login.html">Login Form</a></li>
            </ol>
        </div>
    </header>
</body>
</html>